.segmented-tabs {
    display: flex;
    flex-direction: row;
}
.segmented-tabs .tab {
    flex-grow: 1;
    height: 30px;
    line-height: 30px;
    color: #108ee9;
    border: 1px solid  #108ee9;
    text-align: center;
    border-left: 0;
    font-size: 14px;
}
.segmented-tabs .tab:first-child {
    border-left: 1px solid  #3a9ee4;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.segmented-tabs .tab:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.segmented-tabs .tab .active {
    background-color: #088ce8;
    color: #fff;
}

.segmented-tabs.white-style .tab {
    color: #fff;
    border-color: #fff;
}
.segmented-tabs.white-style .tab:first-child {
    border-color: #fff;
}
.segmented-tabs.white-style .tab .active {
    background-color: #fff;
    color: #088ce8;
}