.left-top-menu {
    position: absolute;
    z-index: 90 !important;
    width: 100%;
}
.menu-active .top-nav-bar{
    z-index: 90;
}
.top-nav-bar {
    position: relative;
    background-color: #008AE6;
    color: #FFF;
}
