.am-grid.no-back-ground .am-flexbox{
    background-color: inherit;
}
.am-grid.no-back-ground .am-flexbox .am-flexbox-item .am-grid-item-content {
    padding: 5px 0 !important;
}
.am-card-body::before {
    height: 0 !important;
}
.category-div {
    /*border: 1px solid #cdcfd0;*/
    border-left: 0;
    flex: 1;
    background-color: #fff;
}
.category-div >p {
    text-align: center;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
}

.am-grid-item-content .running-project {
    color: #eff305
}

.am-grid-item-content .total-project {
    color: #7df3ad
}

.am-grid-item-content .finished-project {
    color: blue
}

.am-grid-item-content .type-project {
    color: #f1fdfd
}