.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.half-margin-p {
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
}
.small-margin-p {
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 0.2em;
}
.no-margin-p {
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 0;
}

.am-navbar-left {
  padding-left: 10px;
}
.navbar-setting-btn {
  margin-right: 10px;
}

.main-section,
.main-section-no-bottom{
  position: absolute;
  overflow-y: auto;
  top: 45px;
  bottom: 50px;
  width: 100%;
}
.main-section-no-bottom{
  bottom: 0;
}

.canvas-chart {
  width: 100%;
  height: 190px
}

.select-menu {
  position: absolute;
  z-index: 90 !important;
  width: 100%;
}

.menu-mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  z-index: 89;
}

/*导航*/
.top-nav-bar {
  position: relative;
  background-color: #008AE6;
  color: #FFF;
}
.setting-icon{
  width: 22px;
  height: 22px;
  background: url(./asset/icon/setting.png) center center /  21px 21px no-repeat
}
.back-icon{
  width: 11px;
  height: 20px;
  background: url(./asset/icon/back.png) center center /  11px 20px no-repeat
}

/*企业*/
.cjwz-logo{
  height: 40px;
  background: url(asset/logo/ent/cjwz.png) center center /  40px 40px no-repeat
}
.lqjt-logo{
  height: 40px;
  background: url(./asset/logo/ent/lqjt.png) center center /  40px 40px no-repeat
}
.swjs-logo{
  height: 40px;
  background: url(asset/logo/ent/swjs.png) center center /  40px 40px no-repeat
}
.zlsgx-logo{
  height: 40px;
  background: url(asset/logo/ent/zlsgx.png) center center /  40px 40px no-repeat
}
.sdgf-logo{
  height: 40px;
  background: url(asset/logo/ent/sdgf.png) center center /  40px 40px no-repeat
}
.sdgc-logo{
  height: 40px;
  background: url(asset/logo/ent/sdgc.png) center center /  40px 40px no-repeat
}
.szgc-logo{
  height: 40px;
  background: url(asset/logo/ent/szgc.png) center center /  40px 40px no-repeat
}

/*三大主材logo*/
.concrete-logo{
  height: 40px;
  background: url(asset/logo/cate/concrete.png) center center /  40px 40px no-repeat
}
.cement-logo{
  height: 40px;
  background: url(asset/logo/cate/cement.png) center center /  40px 40px no-repeat
}
.steel-logo{
  height: 40px;
  background: url(asset/logo/cate/steel.png) center center /  40px 40px no-repeat
}
.jsgc-logo{
  height: 40px;
  background: url(asset/logo/cate/jsgc.png) center center /  40px 40px no-repeat
}
.blggc-logo{
  height: 40px;
  background: url(asset/logo/cate/blggc.png) center center /  40px 40px no-repeat
}
.yzgj-logo{
  height: 40px;
  background: url(asset/logo/cate/yzgj.png) center center /  40px 40px no-repeat
}
.fsfccl-logo{
  height: 40px;
  background: url(asset/logo/cate/fsfccl.png) center center /  40px 40px no-repeat
}

.shtong-logo{
  height: 40px;
  background: url(./asset/logo/shtong.png) center center /  40px 40px no-repeat
}
.other-logo{
  height: 40px;
  background: url('https://gw.alipayobjects.com/zos/rmsportal/nywPmnTAvTmLusPxHPSu.png') center center /  40px 40px no-repeat
}
.img-all-logo{
  height: 40px;
  background: url(./asset/logo/all.png) center center  no-repeat
}

.grid-back-ground {
  background-image: url(./asset/img/staticBtnBackGround.png);
}